{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div>
    Glad to have you here :D

    Please consider to <a href="/register">Register</a>.

</div>
<br/><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/gPk_bHs0-AQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cfDq1m0uE-w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
