{% extends "layout.html" %}

{% block title %}
    Guideline
{% endblock %}

{% block main %}
    <h3>
        Guideline for good cards
        <br/><br/>
    </h3>
    <p>
        1. Take a look at other cards, that were approved aka are in play
        stack via <a href="/play">Play_ENG</a> or <a href="/play_de">Play_GER</a>.
        <br/><br/>
        2. Also consider to read out your card to a friend to get an idea about the appropriate difficulty.
        <br/><br/>
        3. After you posted your card, make sure to regularly check for feedback, which will
        be displayed under <a class="text-success" href="/my">My Cards</a>. Maybe you want to
        edit the card according to the feedback given.
        <br/><br/>
    </p>

{% endblock %}
